body {
	background-color: #eeeeee;
}
#jcow_main {
	background-color: #eeeeee;
}
a, a:visited {
	text-decoration: none;
	color: #4366AD;
}
a:hover {
	text-decoration: underline;
}
#topbar a, #topbar a:visited {
	color: #333333;
	}


#jcow_simple_topbar {
	width:650px;
	margin:0 auto;
}
#footer {
	width:100%;
}

.block {
	background: white;
	padding: 5px 2px;
	margin-bottom: 10px;
	border-radius:5px;
}
#jcow_page_menu {
	padding:45px 0 0 0;
}

.block_title {
	border-radius:5px;
	font-size:1.5em;
	color: #666666;
}
#appright {
	border-left: #BEDEED 1px solid;
	}

.block_title a, .block_title a:visited {
	text-decoration: underline;
}
.jcow_gallery_img {
	width:140px;
	height:150px;
}
#jcow_main_box {
	border-radius:0 0 5px 5px;
    width:650px;
	}

#jcow_application_box {
	background: white;
	}

#banner_box {
	width:100%;
	}

#jcow_mobile_banner a {
	color:white;
}
#jcow_search_box{
   height:25px; 
   line-height:25px; 
   text-indent:5px; 
}

#footer_pages {
	background: none;
	border:none;
	}

#menu{ height:38px; display:block; padding:0; auto;} 
#menu > ul {list-style:inside none; padding:0; margin:0;} 
#menu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;} 
#menu > ul > li > a{ outline:none; display:block; position:relative; padding:12px 18px; font:bold 12px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); } 
#menu > ul > li:first-child > a{border-radius:5px 0 0 5px;} 
#menu > ul > li > a:after{ content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99; } 
#menu ul li.has-sub:hover > a:after{top:0; bottom:0;} 
#menu > ul > li.has-sub > a:before{ content:''; position:absolute; top:17px; right:4px; border:5px solid transparent; border-top:5px solid #8A8A8A; } 
#menu > ul > li.has-sub:hover > a:before{top:18px;} 
#menu ul li.has-sub:hover > a{ background:#3f3f3f; border-color:#3f3f3f; padding-bottom:13px; padding-top:13px; top:-1px; z-index:999; } 
#menu ul li.has-sub:hover > ul, #menu ul li.has-sub:hover > div{display:block;} 
#menu ul li.has-sub > a:hover{background:#3f3f3f; border-color:#3f3f3f;} 
#menu ul li > ul, #menu ul li > div{ display:none; width:auto; position:absolute; top:38px; padding:10px 0; background:#3f3f3f; border-radius:0 0 5px 5px; z-index:999; } 
#menu ul li > ul{width:170px;} 
#menu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#menu ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:10pt Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 


#topbar_box,#menu > ul > li > ul > li a:hover{ 
background:#e0541d; 
background:-moz-linear-gradient(top,  #616161 0%, #4D4D4D 100%); 
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#616161), color-stop(100%,#4D4D4D)); 
background:-webkit-linear-gradient(top,  #616161 0%,#4D4D4D 100%); 
background:-o-linear-gradient(top,  #616161 0%,#4D4D4D 100%); 
background:-ms-linear-gradient(top,  #616161 0%,#4D4D4D 100%); 
background:linear-gradient(top,  #616161 0%,#4D4D4D 100%); 
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#4D4D4D',GradientType=0 ); } 
#menu > ul > li > a{border-right:1px solid #4D4D4D; color:#cccccc;} 
#menu > ul > li > a:after{border-color:#616161;} 
#menu > ul > li > a:hover{background:#4D4D4D;} 
#menu > ul > li > a.menuon{background:#454545;color:white}

#jcow_user_panel {
	width:100%;
	text-align:right;
	color: #cccccc;
	padding:5px 0;
	}
#jcow_user_panel a {
	color:#666666;
	}

.menu_icon_box {
	width:20px;
	height:20px;
	float:left;
	background: white;
	border-radius:5px;
	margin-right:5px;
	opacity: 0.7;
	}

.followbutton {
    background-color: #D43638;
    background-image: -moz-linear-gradient(center top , #EB5367, #E04751 50%, #DE404A 50%, #D43638);
	border: 1px solid #910101;
    text-shadow: 0 -1px rgba(34, 25, 25, 0.5);
	display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    padding: 0.45em 0.825em;
    text-align: center;
	box-shadow: 0 1px rgba(255, 255, 255, 0.8), 0 1px rgba(255, 255, 255, 0.35) inset;
	border-radius: 4px 4px 4px 4px;
    font-size: 13px;
}
.followbutton,.followbutton:visited {
	color: white;
	}
.followbutton:hover {
	text-decoration:none;
    background-color: #D63E40;
    background-image: -moz-linear-gradient(center top , #EA5D6E, #E3535D 50%, #E04A54 50%, #D63E40);
    border-color: #AD0303;
    text-shadow: 0 -1px rgba(34, 25, 25, 0.3);
}
.user_post_content {
	width:100%;
	max-width:100%;
}
#wallpaper {
	margin-top:40px;
}

img { max-width: 100%; }