body{
	margin: 2px;
	background: url("basic_bg.jpg") repeat-x;
	font-family: arial,verdana,sans-serif;
	font-size: 14px;
	line-height:1.5em;
	}

table {
	margin-left: auto;
	margin-right: auto;
	}

table td,th {
	padding: 5px;
	}

img{
	border: 0;
	}

.images{

	}

a:link,a:active,a:visited,a.postlink{
	color:#0000CC;
	text-decoration:underline
	}

hr{
	color: #CCCCCC;
	height: 1px;
	}

.row1{
	background: #999999;
	font-weight: bold;
	color: white;
	}

.row2{
	background: white;
	}

.atitle{
	font-weight: bold;
	}


#membercp{
	width: 778px;
	text-align: right;
	padding: 5px;
	background: #E4E4E4;
	margin-left: auto;
	margin-right: auto;
	color: gray;
	border-bottom: gray 1px solid;
	}

#membercp a{
	color: black;
	text-decoration: none;
	}

#logo{
	width: 776px;
	height: 70px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	}

#main{
	float: left;
	width: 776px;
	text-align: left;
	padding:5px 5px 45px 5px;
	background-color: white;
	border: #AFC2D1 1px solid;
	}

#content{
	width: 788px;
	margin-left: auto;
	margin-right: auto;
	}

#left{
	float: left;
	width: 160px;
	text-align: left;
	height: auto;

}

#left li{
	padding: 2px;
	}

#left li.on{
	font-weight: bold;
	}

h5 {
	width: auto;
	background: url("title_bg.gif");
	padding: 5px;
	border-top: gray 1px solid;
	}

#middle{
	float: left;
	width: 530px;
	padding: 20px 12px 0px 12px; 
	text-align: left;
	height: auto;

	}

#middle ul{
	list-style-type: none; 
	}

#middle li{
	padding: 10px;
	}

#welcome{
	float: left;
	margin: 10px 10px 10px 30px;
	padding: 10px;
	width: 400px;
	height: 160px;
	}

#last_articles{
	float: left; 
	width: 270px;
	margin: 10px;
	padding: 10px;
	text-align: left;
	}

#last_updated_blogs{
	float: left; 
	width: 180px;
	margin: 10px;
	padding: 10px;
	text-align: left;
	}

#pagebar{
	background: #E3FBE8;
	width: 100%;
	text-align: center;
	padding: 7px;
	border: #AFC2D1 1px solid;
	border-width: 1px 0px 1px 0px;
	}

#footer{
	width: 778px;
	clear: both;
	padding: 30px 4px 30px 4px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}

.alert {
	background:#E4E4E4;
	color: black;
	padding:5px;
	}
