/* 
NOTE!
Never edit this file!
If you want to customize your theme, please edit the "themes/YOUR_THEME_FOLDER/page.css"
 */

body {
	font-size: 12px;
	font-family: tahoma,verdana,arial,sans-serif;
	text-align: center;
	padding-top: 40px;
	margin: 0;
	text-align: center;
	line-height:150%;
}

img {
	border: 0;
}

.fafont {
	font-family: FontAwesome
}


h1 {
	font-size: 1.7em;
	margin: 3px 7px;
}

h2 {
	font-size: 1.5em;
	margin: 3px 7px;
}

h3 {
	padding: 0px;
	margin: 0px;
	}



a{
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a.link {
	color:#0084B4;
}
a.link:hover {
	text-decoration: none;
	color: #005A7A;
}


.sub {
	font-size: 11px;
	filter:alpha(opacity=70);
	opacity: 0.7;
	-moz-opacity:0.7;
}

.sub a:hover {
	color: blue;
}
dl .thumb {
	width: 200px;
	background:green;
	overflow: hidden;
	float: right;
}

fieldset {
	width: auto;
	margin-bottom: 20px;
	padding: 5px;
	border: 1px dashed #999;
}
legend {
	padding: 1px 3px;
}
.quote{
	padding:10px;
	border:#cccccc 1px solid;
	border-radius: 5px;
	}

#jcow_primary_menubar_box {
	width:100%;
	height:45px;
	z-index:10;
	position: fixed;
	top:0;
	}

#jcow_top_menu {
	display:inline-block;
	overflow:hidden;
	vertical-align: bottom;
}
#jcow_top_logo {
	display:inline-block;
	vertical-align:bottom;
}

#jcow_top_logo img {
	max-height: 43px;
	width:auto;
}
#jcow_top_left {
	float:left;
}
#jcow_primary_menu {
	float: left;
	padding-top:7px;
	width:750px;
}
#jcow_user_panel {
	float:right;
	padding-top:7px;
	color: #cccccc;
	vertical-align:middle;
	width:230px;
	padding-right:20px;
	text-align: right;
	}
#jcow_user_panel>a {
	display:inline-block;
	vertical-align:middle;
	}
#jcow_primary_dropdown {
	display:inline-block;
	vertical-align:middle;
	height:34px;
}
/* ################### SUB MENU #################### */
#sub_menu ul {
	margin:5px 0;
	padding:0;
	}
#sub_menu li{
	list-style: none;
	padding:0;
	margin:0;
}
#sub_menu li a{
	display:block;
	padding:3px 5px;
	border-bottom: #CCC 1px dotted;
}
#sub_menu li.on a{
	font-weight: bold;
}
.chat_msg {
	margin:10px;
	padding: 10px 18px;
    position: relative;
    vertical-align: top;
    text-align:left;
    word-wrap:break-word;
}

.chat_me {
	border-radius: 18px 10px 10px 18px;
	margin-left: 20%;
	color: white;
	background: #2C92C9;
}
.chat_me:after, .chat_me:before {
	left: 100%;
	bottom:7px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.chat_me:after {
	border-left-color: #2C92C9;
	border-width: 10px;
	margin-top: -10px;
}

.chat_u {
	border-radius: 8px 18px 18px 8px;
	margin-right: 20%;
	color: #333;
	background: #eee;
}
.chat_u:after, .chat_u:before {
	right: 100%;
	bottom:7px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.chat_u:after {
	border-right-color: #eee;
	border-width: 10px;
	margin-top: -10px;
}

#msgcontent {
	border: #ccc 1px solid;
	padding:5px;
	width:80%;
}
#chatlist {
	overflow:hidden;
	overflow-y:scroll;
}
/* ################### BOTTOM #################### */
#bottom {
	margin: 10px auto 0 auto;
	padding: 80px 10px 20px 10px;
	text-align: right;
	width: 750px;
	clear: both;
}


span.sub {
	font-size:0.9em;
	}
	
	

.story_content {
	padding:10px 0 20px 0;
	margin-top: 20px;
	}

.post {
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}
.post_author {
	width: 90px;
	text-align: left;
	float: left;
	overflow: hidden;
}
.post_content {
	margin-left:0 !important;
	margin-left: 90px;
	padding: 5px;
	border: #eeeeee 1px solid;
	overflow: hidden;
	}
.post_content .tab_things {
	border-left: #ccc 1px solid;
}

#rate_result {
	background: #FFFFCC;
	border: #FFCCFF 1px solid;
	padding: 2px;
}
#votes {
	font-size: 1.5em;
}
/* ############################## FORM ############################## */



form p span {
	font-size: 0.9em;
}
form p span.des {
	display: block;
}

form p {
	text-align:left;
	display: block;
	padding-left: 20px;
	margin-bottom: 15px;
	margin-top: 5px;
}




/* 3 columns */



input.required {
	background: #FBFBE3;
}
	
/* ############################## BLOCKS ############################## */

#content .block {
	background: #eee;
}

#column2 .block_content {
	background: white;
}
/* ############################## COLUMNS ############################## */
#column1 {
	width: 200px;
	float: left;
}
#column2 {
	width: 470px;
	float: right;
}
/* ############################## Listings/ Lines ############################## */
.summary {
	color: #999999;
}

.story {
	display: block;
	overflow: hidden;
	padding: 10px 0 10px 10px;
	border-bottom: #E1E1E1 1px solid;
	margin-bottom: 20px;
	clear:both;
}

.story_header {
	font-size: 1.5em;
}

.tab_things {
	font-size: 10px;
	padding: 2px;
	overflow: hidden;
}
.tab_thing {
	width: auto;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	border-right: #ccc 1px solid;
}

.story .content {
	padding: 3px 0;
}

.thumb {
	width: auto;
	margin-right: 5px;
	box-shadow:0 1px 2px rgba(34, 25, 25, 0.4);
	padding: 2px;
	background: white;
}

.story .thumb {
	margin-right: 5px;
	float:right;
}



dl {
	display: block;
	overflow: hidden;
	padding: 10px;
	border-bottom: #E1E1E1 1px solid;
	margin-bottom: 20px;
	clear:both;
}

dt {
	font-weight: bold;
}
dd {
	display: block;
	overflow: hidden;
	margin-left: 10px;
	margin-bottom: 10px;
}
dd span {
	margin: 3px;
}

.user_post_head {
	padding: 7px 0 2px 0;
}

#pager {
	background: url("pager_icon.png") left no-repeat;
	padding: 5px 5px 5px 20px;
	border: #EEE 1px solid;
	clear: both;
	margin-top: 10px;
	}

.grid-item {
  border-radius: 5px;
  box-shadow: 0 2px 9px #ccc;
  margin-bottom: 10px;
  padding:5px 10px;
  max-width: 200px;
}
.grid-item img {
	width: 180px;
	height: auto;
}
.jcow_pager {
	padding:10px;
	text-align:center;
}
.jcow_pager a {
	display:inline-block;
	padding:5px 10px;
	margin:0 10px;
	border:#ccc 1px solid;
	border-radius: 20px;
}
.group-span-filestyle .btn {
	padding:3px 6px;
}
/* ############################## forum ############################## */
#nav {
	padding: 4px 0 7px 15px;
	margin: 0 auto 0 auto;
	font-size: 0.9em;
	text-align: left;
	}
.table_simple {
	width:100%;
	border:0;
}
.table_simple td,.table_simple th{
	padding:8px;
	border-bottom: #DEDEDE 1px solid;
}
table.stories {
	border: #AABED9 1px solid;
	background: white;
	border-collapse:collapse;
	width:100%;
}
table.stories th{
	text-align: left;
	background: white;
}

table.stories .stress {
	font-weight: bold;
}
table.stories td{
	padding: 6px;
}
tr.table_line1 {
	background:url("table_line1_bg.gif") bottom repeat-x;
	background-color: white;
	}
tr.table_line1 td {
	padding: 9px 5px;
	font-weight: bold;
}
tr.table_line1 a {
	color: #2C608F;
}
tr.table_line2{
	background-color: #F2F2F2;
}
tr.table_line2 td {
	color: #2C608F;
}
tr.table_line2 a {
	color: #2C608F;
}

tr.row1 {
	background:url("row1_bg.gif") bottom repeat-x;
	background-color: #F2F2F2;
	}
tr.row1 td {
	padding-bottom: 8px;
	color: #333;
	}
tr.row2 {
	background:#F2F2F2;
	}
tr.row2 td {
	color: #333;
	}
tr.group {
	background: #BBC9FF;
	}
tr.head {
	background: #999966;
	}

.votes { /* Poll */
	background: #4A846B;
	color: white;
	overflow: hidden;
	padding:1px;
	font-weight: bold;
}
.signature {
	border-top: #999999 1px dashed;
}
.forum_post_title {
	display: block;
	font-weight: bold;
	margin:3px;
}
.forum_title a{
	font-weight: bold;
	}
.forum_title a:visited{
	font-weight: normal;
	}
#jcow_main .post_operations ul{
	padding: 0;
	margin: 0;
}
#jcow_main .post_operations li {
	display: block;
	float: right;
	padding: 0;
	}
#jcow_main .post_operations li a{
	display: block;
	background: #eee;
	border: #999999 1px solid;
	padding: 3px 5px;
	color: #666666;
	margin-right: 5px;
	}
#jcow_main .post_operations li a:hover {
	background: #666666;
	color: white;
	text-decoration: none;
	border-color: #666666;
	}

#jcow_side .block {
	background: white;
	padding: 10px 5px;
	margin-bottom: 20px;
	border-radius:3px;
	border: #ccc 1px solid;
	border-width:0 1px 1px 0;
}

#jcow_content .block {
	background: white;
	padding: 10px 5px;
	margin-bottom: 20px;
	border-radius:3px;
	border: #ccc 1px solid;
	border-width:0 1px 1px 0;
}


/* ############################## gallery ############################## */


.jcow_gallery_pin {
	display: inline-block;
	vertical-align:middle;
	max-width:200px;
	margin:10px;
	padding:5px 10px;
	box-shadow: 0 2px 9px #ccc;
}
.jcow_gallery_images {
	height:200px;
}
.jcow_gallery_img {
	display:block;
	width:180px;
	height:160px;
	margin-bottom:3px;
}
.jcow_gallery_videos {
	height:180px;
}
.jcow_gallery_videos .jcow_gallery_img {
	height:100px;
}
.jcow_gallery_title {
	display:block;
	max-height:40px;
	overflow:hidden;
}


/* ############################## small avatars ############################## */
ul.small_avatars {
	display: block;
	overflow: hidden;
	padding: 0;
	margin:0;
}
ul.small_avatars li {
	display: block;
	padding: 0;
	margin: 3px;
	float: left;
	width: 90px;
	height: 110px;
	text-align: center;
	overflow: hidden;
}
ul.small_avatars li span {
	width: 28px;
	-o-text-overflow:ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* ############################## buttons ############################## */
ul.buttons {
	display: block;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	list-style: none;
}
ul.buttons li {
	display: inline-block;
	margin:3px;
}
#jcow_main {
	text-align: left;
	}

/* ############################## post ############################## */
ul.post {
	list-style: none;
	padding: 0;
	margin:0;
}
ul.post li {
	display: block;
	padding: 13px;
	margin: 3px 0 5px 0;
}
ul.post .author {
	background: #eee;
	overflow: hidden;
	padding: 3px;
}
ul.post .author img.avatar {
	float: left;
	margin-right: 3px;
}

ul.simple_list {
	list-style: none;
	padding: 0;
	margin:0;
}
ul.simple_list li {
	display: block;
	padding: 3px;
	margin: 3px;
	border-bottom: #ccc 1px dashed;
}
/* ############################## tab blocks ############################## */
.tab_block {
	border-top: #DBE0EC 1px solid;
	margin-bottom: 10px;
}
.block_title {
	padding: 5px 0 5px 3px;
	font-weight: bold;
	clear: both;
}
.block_title .sub {
	font-style: italic;
}

.block_content {
	height: 100%;
	padding: 3px 0;
	text-align: left;
}
#jcow_side .block_content {
	overflow:hidden;
}

.tab_block_left {
	width: 265px;
	float: left;
}
.tab_block_right {
	width: 265px;
	margin-left: 5px;
	float: right;
}


/* ############################## others ############################## */

fieldset {
	margin:3px;
	}
legend {
	background: #eeeeee;
	color: #333;
	}
.user_post_1 {
	display:table;
	width:100%;
}

.message {
	width: 80%;
	padding: 30px 10px;
	border: #AAD9AA 1px solid;
}
.message p {
	font-weight: bold;
}

.notice {
	padding: 5px 5px 5px 28px;
	border: #E3B600 1px solid;
	color: black;
	background-color: #FFF1BB;
	margin: 5px 10px 2px 3px;
}
#jcow_main .notice a, #jcow_main .notice a:visited {
	color: #D94B00;
	}


.alert {
	width: 80%;
	background: #FFF1BB;
	padding: 30px 10px;
	border: #E3B600 2px solid;
}
input.button {
	cursor: pointer;
	background:white;
	font-size:1.5em;
	padding:3px 20px;
	border-radius: 5px;
	border: #cccccc 1px solid;
}
input.button:hover {
	background:#eeeeee;
}
a.button {
	padding: 3px;
	margin: 3px;
}
ul a.button {
	color: #ccc;
}



/* profile menu */

.profile_menu ul{
	list-style:none;
	padding:0 10px 0 20px;
	margin:0px;
	overflow: hidden;
	height: 100%;
	height:24px;
	border-bottom: #3B5998 1px solid;
}
.profile_menu li {
	float: left;
	display: block;
	text-align: center;
}
.profile_menu li a {
	display: block;
	padding: 6px;
	background: #EAEEF7;
	margin-right: 6px;
	font-weight: bold;
	border: #3B5998 1px solid;
	border-width: 1px 1px 0 1px;
}
.profile_menu li a:hover {
	background: #D7DEF0;
}
.profile_menu li a.on, .profile_menu li a.on:hover {
	background: #3B5998;
	color: white;
}



/* section foot */
.sfoot {
	color: #ccc;
}

.shead span{
	font-size: 16px;
	font-weight: bold;
}

ul.nm {
	list-style: none;
	padding: 0;
}
ul.nm li {
	display: block;
	padding: 13px;
	margin: 3px 0 5px 0;
	border-bottom: #ccc 1px solid;
}

img.avatar {
	background: #fff;
	margin: 2px;
	border-radius: 3px;
}

.view_more {
	text-align: right;
	padding-right: 50px;
}

#my_friends_acts {
	height:200px;
	width:400px;
	WIDTH: 97%;
	OVERFLOW-X:auto;
	OVERFLOW:scroll;
}
#my_friends_acts li {
	display: block;
}
#my_friends_acts li:hover {
	background: #eee;
}


#executed_info {
	color: #C5C5C5;
}


#active_sidebar {
	width: 140px;
	float: left;
}

#active_sidebar .block{
	background: white;
	border-right: #eee 1px solid;
}

#main {
	width: 520px;
	float: right;
}
li.cat {
	padding: 2px;
}
li.cat:hover {
	border-bottom: #ccc 1px solid;
}

#sidebar_stories table{
	width: 100%;
	border-bottom: #eee 1px solid;
}
#sidebar_stories img {
	border: #ccc 1px solid;
}

#sidebar_stories td {
	height: 30px;
}

/* rate */
#rating_box {
	clear: both;
	width: 50%;
	padding: 5px;
	background: #eee;
}

#maincontent li {
	padding: 5px;
}

ul.float_left {
	padding: 0;
	margin: 0;
}
ul.float_left li {
	display: block;
	width: auto;
	padding: 3px;
	float: left;
	margin:3px;
}
#powered {
	margin: 10px auto 0 auto;
	padding: 3px;
	width: 800px;
	clear: both;
	background: white;
	color: #333;
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity:0.5;
	text-align: center;
}
#powered a, #powered a:visited {
	color: blue;
	}



/* FORM */
.fpost {
	margin: 5px 0;
	padding:5px;
	border-radius: 5px;
	border:#cccccc 1px solid;
			}

.fbutton {
	font-size:1.2em;
			}

.form_label {
	font-weight: bold;
	display:block;
	}
/* group */
#group_opt ul {
	display: block;
	padding: 0;
	list-style:none;
	margin:0;
	}
#group_opt ul li a {
	display: block;
	padding:3px;
	float: left;
	margin: 3px;
	border: #eeeeee 1px solid;
	font-size: 0.8em;
	}

#main_top {
	width: 960px;
	background: white;
	height: 5px;
	filter:alpha(opacity=60);
	opacity: 0.6;
	-moz-opacity:0.6;
	margin: 0 auto;
	}

#sideb_top {

}
#sideb_bottom {

}
#sideb {
	padding: 5px;
}
#site_name a,#site_name a:visited,#site_slogan a,#site_slogan a:visited {
	color: #236F85;
	}

#member_box {
	margin-bottom:10px;
	padding:5px;
}

.att_box {
	padding: 5px;
	margin-left: 30px;
	border-left: #eeeeee 5px solid;
	overflow: hidden;
	}
.att_des {
	font-size: 0.9em;
	}
.att_des img {
	border:#ccc 1px solid;
	margin: 3px;
	float: left;
	}
.att_bottom {
	font-size: 10px;
	clear: both;
	}
.att_name {
	font-weight: bold;
	font-size: 0.9em;
	}
#post_form {
	width:100%;
	}
#pc_form_box {
	width: 500px;
	}
#post_form a, #post_form a:visited {
	}
.jcow_share_box {
	
}
#stream_box {
	margin-left:60px;
}
#charsRemaining {
	color:#999999;
	font-size:11px;
}
.jcow_share_box_avatar {
	width:60px;
	height:60px;
	float:left;
}
.jcow_share_box_avatar img, .user_post_avatar img, .story img, .small_avatars img {
	border-radius:2px;
	}
.jcow_share_box_content {
	margin:0 6px 0 3px;
	padding:5px 5px 5px 0;
	border-radius: 3px;
}
.att_button{
	background:#eeeeee;
	border: white 1px solid;
	display:inline-block;
    text-align: center;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
 	margin:2px;
 	padding:2px 6px 2px 3px;
 	border-radius: 2px;
	font-size:10px;
	box-shadow:2px 2px 2px #999999;	
	min-width:50px;
}
a.att_button span {
	color:#666;
}
.att_button_on {
	background:white;
	box-shadow:0 0 1px  #999999;
}
.att_button img {
	
}
.att_button span {
    font-weight:bold;
	color:#333333;
	text-shadow:1px 1px white;
}
.att_button:hover {
	background:white;
}

#stream_form {
	min-height: 90px;
}
#stream_att {
	padding-bottom: 3px;
	border-bottom:#eee 1px solid;
}
#stream_att a {
	color: black;
}
.att_submit_active {
	background: #FBA900;
	color: white;
}
.att_submit_active:hover {
	background: #EE6464;
}
.att_button:hover {
	text-decoration: none;
	}
.att_button img {
	padding: 2px 1px 2px 5px;
	}
	

.att_title {
	font-weight: bold;
	}

.ferror {
	background: yellow;
	color:black;
	}
img.onslide {
	padding: 5px;
	margin: 5px;
	}
img.onslide:hover {
	background: #F3DDFF;
	}
.user_comment {
	overflow: hidden;
	padding:3px;
	background: #F6F6F6;
	border-bottom: #E7E7E7 1px solid ;
	border-top: white 1px solid ;
	}
.comment_form {
	padding: 5px;
	}
.user_post_right img {
	max-width:100%;
	}

.comment_form {
	padding: 5px;
	}
.user_post_right img {
	max-width:100%;
	}
.moduleMid {
	overflow: hidden;
	}
.stream_more {
	display:block;
	padding: 5px;
	text-align: center;
	background: #eee;
	color: #666;
	}
.stream_more:hover {
	background: white;
	text-decoration: none;
	}

.hr {
	margin:5px;
	height: 1px;
	clear:both;
	}
.br {
	width: 100%;
	clear: both;
	height: 10px;
	}
#search_box {
	width:100%;
	font-size: 15px;
	color:#333333;
	background-color: white;
	padding:2px 0 2px 10px;
	margin-right:3px;
	margin-top:1px;
	border: #666 1px solid;
	border-radius: 3px;
	}
#search_btn {
	position: absolute;
	right:0px;
	top:2px;
	height:21px;
	width: 40px;
	background: #eee;
	border:none;
	border-radius: 3px;
}
.stream_quote {
	padding-left:5px;
	margin:5px 0 0 10px;
	border-left:#eee 3px solid;
}
.mfp-wrap { z-index: 2000 }
#footer {
	max-width: 960px;
	margin-left:auto;
	margin-right:auto;
	color: #666666;
	padding-bottom: 30px;
}

#footermsg {
	font-size: 0.9em;
	color: #333;
	padding: 5px;
	margin: 5px auto 20px auto;
	width: 946px;
}
#footermsg a, #footermsg a:visited {
	color: #333;
}
img.stream_delete {
	cursor: pointer;
}

img.stream_delete:hover {
	border: #FF7575 1px solid;
}

#appframe {
	width: 100%;
	}

#appcenter {
	padding-left: 5px;
	padding-right: 5px;
	}

#jcow_topbar {
	max-width:952px;
	margin:0 auto;
}

#jcow_primary_dropdown .menuon {
	background: #eeeeee;
}
#menubar {
	padding-left: 0;
	border-right: #DCE3F1 1px solid;
	}

/* ##################### STRUCTUR ################## */


#jcow_main_box {
	max-width: 1090px;
	margin: 0 auto 5px auto;
	overflow: hidden;
	margin-bottom: 60px;
	border-radius:5px;
	padding-top:2px;
	}
#jcow_app_menu {
	min-height:300px;
	padding-top:13px;
	width:190px;
	position: absolute;
	z-index: 5;
	text-align: left;
	background: #E6EAEB;
}
.jcow_app_menu_title {
	font-weight:bold;
	margin-top: 10px;
	color: #666;
	}
#jcow_app_links a {
	font-size:13px;
	display: block;
	padding:2px 5px;
	overflow: hidden;
	white-space: nowrap;
	}
#jcow_app_links a i {
	color: #0084B4;
}
#jcow_app_links a:hover {
	background: #D7DCDE;
}
#jcow_app_links a.menuon {
	font-weight:bold;
	background: #D7DCDE;
}
#jcow_main {
	max-width: 898px;
	margin: 0 auto 5px auto;
	overflow: hidden;
	padding: 7px 3px;
}

#maincontent {
	float: right;
	display: inline;
	padding: 10px 5px;
	margin: 0 0 20px 0px;
	text-align: left;
}

#sidebar {
	width: 212px;
	float: left;
	padding-top: 10px;
	padding-right: 5px;
	margin-left:7px;
	text-align: left;
}

#sidebar .block {
	width: 100%;
}



/* ################### TOP #################### */

#topbar li a span {
	font-weight: normal;
	}
#topbar_box {
	width: 100%;
	height: auto;
	overflow: hidden;
}

#topbar {
	width:970px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	}

#jcow_primary_menubar {
	max-width:1090px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	white-space: nowrap;
	padding: 3px 0 1px 0;
	}

.search_results {
	display:block;
	padding:2px;
}
.search_results:hover {
	background:#eee;
}
#topbar ul {	
	margin: 0;
	padding: 0;
	}

ul.jcow_apps {
	padding: 0;
	margin: 0;
	}
.jcow_apps li {
	display:block;
	list-style: none;
	margin: 1px 0 1px 0;
	font-weight: bold;
	}
.jcow_apps li a {
	display:block;
	padding:1px 0 1px 8px;
	overflow: hidden;
	font-weight: normal;
	}
.jcow_apps li a:hover {
	text-decoration: none;
	}
.jcow_apps li.menugen a:hover {
	background: #EDF0F8;
	color: #333;
	}
.jcow_apps li.menuon a {
	background: #DCE3F1;
	font-weight: bold;
	color: #333;
	}
.jcow_apps li.menuon a:hover {
	background: #DCE3F1;
	color: #333;
	}

#member_box {
	padding: 3px;
	margin-bottom: 3px;
	}
#login_box {
	padding: 3px;
	text-align: center;
	padding: 20px 3px;
	margin-bottom: 3px;
}
#login_box a {
	font-size: 1.2em;
	font-weight: bold;
	}


#menubar_td {
	width: 180px;
	}
.chatboxcontent{
	text-align: left;
	}
.chatbox {
	display: block;
}

#jcow_app_container {
	padding: 5px 0;
	overflow: hidden;
	}
.block_box {
	text-align: right;
	padding-right:10px;
	border-bottom: #eee 1px solid;
	}
#jcow_cover {
	min-height:400px;
	background:white;
	position: relative;
	margin-bottom:15px;
	border-radius:3px;
	border: #ccc 1px solid;
	border-width:0 1px 1px 0;
}
.jcow_cover_content {
	min-height:350px;
	padding-left:190px;
	padding-top:285px;
	display:table;
	width:100%;
}
#jcow_page_menu {
	width:100%;
	padding:21px 0 0 190px;
}
#jcow_page_menu a{
	display:inline-block;
	padding:6px 10px;
	margin:0 5px 0 2px;
	text-decoration: none;
	color:#333333;
}
#jcow_page_menu a:hover{
	color:#333333;
}
#jcow_page_menu a.tm_on{
	font-weight:bold;
	color:#DD4B39;
	border-bottom:#DD4B39 3px solid;
}
#jcow_cover_edit {
	position: absolute;
	top:160px;
	left:10px;
}
#jcow_cover_avatar_box {
	display:inline-block;
	position: absolute;
	padding:3px;
	background:white;
	border:#cccccc 1px solid;
	top:220px;
	left:10px;
}
#jcow_cover_avatar {
	max-height:160px;
	overflow: hidden;
}
ul.jcow_cover_buttons {
	display:block;
	overflow:hidden;
	clear:both;
	margin: 0;
	padding: 0;
	}
ul.jcow_cover_buttons li {
	display: block;
	}
ul.jcow_cover_buttons li a{
	display: block;
	border-left: #eeeeee 1px solid;
	padding: 5px 10px;
	float:left;
	color: #666666;
	}

#jcow_cover_name {
	display:inline-block;
	font-size:25px;
	padding-right:20px;
	color:white;
	text-shadow:1px 1px black;
}
#jcow_cover_name a{
	display:block;
	font-size:15px;
	color:white;
}
#jcow_cover_follow {
	display:inline-block;
}

.jcow_widgets_column { 
	width: 320px; 
	float: left; 
	padding-bottom: 100px; 
}

#footer_pages {
	border-top: #eeeeee 1px solid;
	padding: 5px 5px 5px 0;
	text-align: right;
	}


.menu_block_title {
	border-top: 1px solid #ECEFF9;
	font-size:1.2em;
	font-weight: bold;
	padding:3px;
	color: #666666;
	margin-top:5px;
	}
a.jcow_button{
	background: #6FBD83;
	color:white;
	padding: 3px 7px;
	font-weight: normal;
	border-radius: 3px;
	}

a.jcow_button:hover{
	color:white;
	text-decoration:none;
	background:#4FB368;
	}
#footer_pages {
	background: #eeeeee;
	color: #999999;
}
#footer_pages a{
	color: #666666;
}

a.jcow_tags {
	display:inline-block;
	padding:2px 8px;
	margin:3px;
	white-space:nowrap;
	background: #F2FAFF;
	color:#0084B4;
	border-radius:3px;
	font-size:11px;
	}

a.jcow_tags {
	color:#0084B4;
	}
.user_post_h {
	clear:both;
	height:60px;
	
}
.user_post_h_l {
	float:left;
}
.user_post_h_s {
	width:300px;
	height:25px;
}
.user_post_h_l a,.user_post_h_l a:visited {
	font-weight:bold;
}
.user_post_h_l a span{
	font-weight:normal;
}
.comment_uname a {
	color:#0084B4;
	font-weight:bold;
}
.user_post_h_r {
	float:right;
	font-size:10px;
	padding-right:10px;
}


#signup_request_box {
	padding:70px 0 0 100px;
	}
.signup_request_label{
	font-size:18px;
}
.signup_request_input{
	margin-bottom: 10px;
	}
.signup_request_input input{
	font-size:18px;
	height:22px;
	width:300px;
}
.signup_request_input span{
	display:block;
	color:#666666;
	font-size:11px;
	}
#signup_request_submit input{
	font-size:22px;
}

#story_quick_compose {
	margin-top:5px;
	width: 90px;
	height: 20px;
	font-weight: bold;
	background-color: #E1F389;
	color:#333333;
	text-align:right;
	font-size:12px;
	position: relative;
}

#story_quick_compose:after, #story_quick_compose:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	left: 100%;
	position: absolute;
	width: 0;
}

#story_quick_compose:after {
	border-width: 10px;
	border-left-color: #E1F389;
}

.general_thumbnail{
	width:200px;
	float:left;
}
.general_thumbnail img {
	width:190px;
	height:130px;
	border-radius:5px;
	}

.jcow_stream_page_info {
	font-size:11px;
	overflow:hidden;
}

.user_post_card { position: relative; 
background: #E6F1F6; 
border: 1px solid #C6DEEA;
padding:0 10px;
margin-bottom:10px;
-webkit-border-radius:7px; 
   -moz-border-radius:7px; 
   border-radius:7px; } 
.user_post_card:after, 
.user_post_card:before { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
.user_post_card:after { border-color: rgba(136, 183, 213, 0); border-top-color: #E6F1F6; border-width: 10px; left: 60px; margin-left: -30px; } 
.user_post_card:before { border-color: rgba(194, 225, 245, 0); border-top-color: #C6DEEA; border-width: 11px; left: 65px; margin-left: -36px; }

.story_title {
	font-size:17px;
}
.stream_story_title {
	font-weight:bold;
	font-size:1.2em;
}

.stream_story_box {
	max-height: 800px;
	overflow-x:hidden;
	overflow-y:auto;
}

.jcow_comment_box{
	border-top:#eeeeee 1px solid;
	padding:3px;
	margin-top:3px;
}
.user_post_avatar {
	width:60px;
	float:left;
}
.user_post_content {
	max-width: 560px;
	margin: 0 auto;
}
#jcow_side {
	width:320px;
	float:right;
}
#jcow_content {
	overflow: hidden;
	min-height: 500px;
}
.content_general {
	float: left;	
	width: 620px;
}
.content_full {

}
.tab_parent {
	color:#999999;
	text-align:right;
	font-size:15px;
	font-weight:bold;
	padding-right:20px;
}

.jcow_sidebar_links {
	list-style: none;
	padding:0;
	margin:0;
}
.jcow_sidebar_links li {
	display:block;
}
.jcow_sidebar_links li a {
	display:block;
	width:48%;
	padding:3px;
	margin:2px;
	float:left;
}
a#status_photo_button {
	display:inline-block;
	padding:2px 4px;
	border: #999999 1px solid;
	border-radius:12px;
}
a#status_photo_button:hover {
	background:white;
}
.status_photo {
	border-radius: 7px;
}
#tabmenu {
	padding:0 5px;
	height:35px;
	background:white;
}
#tabmenu a{
	display:inline-block;
	padding:6px 10px;
	position:relative;
	margin:0 7px 0 4px;
	text-decoration: none;
	color:#333333;
}
#tabmenu a:hover{
	color:#333333;
}
#tabmenu a.tm_on{
	font-weight:bold;
	color:#DD4B39;
	border-bottom:#DD4B39 3px solid;
}

img {
	max-width: 100%;
	height:auto;
}
.jcow_play {
	position:relative;
	left:120px;
	top:60px;
	color:white;
	opacity: 0.8;
}

.morestream_button {
	display:block;
	text-align:center;
}

a.jcow_og_box {
	display:block;
	border:#E0E0E0 1px solid;
	overflow:hidden;
	color:#333333;
	text-decoration: none;
	margin:7px;
}
a.jcow_og_box:hover {
	color:#333333;
	text-decoration: none;
	}
.jcow_og_img {
	overflow:hidden;
}
.jcow_og_img img{
	max-width:100%;
	height:auto;
	float:left;
	margin-right:5px;
}
.jcow_og_title {
	font-size: 18px;
	min-width:420px;
	padding:0 5px;
}
.jcow_og_des {
	font-size:11x;
	min-width:420px;
	padding:0 5px;
}
.jcow_og_host {
	font-size:11px;
	color:#999999;
	padding:0 5px;
}

button{
	background:#eeeeee;
}

#searchresultbox {
	position: static;
	background: white;
	border: 1px solid #666;
	width:400px;
	height:auto;
	box-shadow: 1px 1px 5px #666666;
	z-index:1000;
	padding:5px;
}

#notificationbox {
	position: static;
	background: white;
	border: 1px solid #666;
	width:400px;
	height:auto;
	box-shadow: 1px 1px 5px #666666;
	z-index:1000;
	padding:5px;
}
#notificationbox:after, #notificationbox:before {
	bottom: 100%;
	left: 80%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#notificationbox:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 10px;
	margin-left: -10px;
}
#notificationbox:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #666;
	border-width: 11px;
	margin-left: -11px;
}

.gallery_box {
	display:inline-block;
	vertical-align: middle;
	text-align:center;
	overflow:hidden;
	width:71px;
	height:80px;
	margin:3px;
}
.gallery_box:hover {
	text-decoration: none;
}
.gallery_img {
	width:50px;
	height:50px;
	background: #7CD2E6;
	overflow:hidden;
	margin:1px;
	justify-content: center;
	display:inline-flex;
  vertical-align: middle;
	align-items:center;
	}
.gallery_img span {
	display:block;
	text-align: center;
	font-size:25px;
	color:#E8FBFF;
}
.gi_sm {
	width:25px;
	height:25px;
}
.gi_sm img {
	width:25px;
	height:25px;
}
.gi_sm span {
	font-size:16px;
	padding-top:1px;
}
.gi_lg {
	width:150px;
	height:150px;
	justify-content: center;
	display:flex;
	align-items:center;
}
.gi_lg span {
	font-size:86px;
}
.gallery_text {
	font-size:11px;
	text-align:center;
	overflow:hidden;
	color: #666666;
}

.listing_box {
	display:block;
	overflow:hidden;
	height:78px;
	padding:5px 10px;
	margin:5px 0;
}

.listing_img {
	margin:0 10px;
	width:50px;
	height:50px;
	background: #7CD2E6;
	overflow:hidden;
	float:left;
	}

.listing_img span {
	display:block;
	text-align:center;
	padding-top:5px;
	font-size:25px;
	color:#E8FBFF;
}
.listing_title {
	font-weight:bold;
	overflow:hidden;
}
.listing_des {
	font-size:12px;
	color:#999999;
	height:48px;
	overflow:hidden;
}
.listing_des .hl {
	color:#666;
}
.gbox_0 {
	background:#7CD2E6;
}
.gbox_1 {
	background:#7CBAE6;
}
.gbox_2 {
	background:#DB8C8C;
}
.gbox_3 {
	background:#86CFB6;
}
.gbox_4 {
	background:#97C999;
}
.gbox_5 {
	background:#BBCF86;
}
.gbox_6 {
	background:#CFBE86;
}
.top_icon {
	display:inline-block;
	margin:0 6px;
	vertical-align:bottom;
	position:relative;
}
.jcow_note_num {
	display:inline-block;
	position: absolute;
	left:8px;
	top:-7px;
	background:#F06565;
	border-radius: 3px;
	font-size:10px;
	color:white;
	padding:0 3px;
	text-shadow: 1px 1px black;
	height:14px;
}
#jcow_content .profile_head {
	margin-bottom: 5px;
}


a.gray_link {
	color:#333333;
}

.user_post_content ul#nav-library ul.dropdown-menu {
    z-index: 10000;
}
.commentmessage {
	padding-right:25px;
}
.commentpic_btn {
	margin-left:-25px;
	display:inline-block;
	color: #999999;
}
.signupbox {
	text-align:center;
}
.signupbox_btn {
	margin: 5px;
}
.signupbox_text{
	text-align: left;
}
.memberbox {
	margin-top:10px;
	text-align:right;
}
.memberbox_title {
	font-size:0.9em;
}

    .youtube-player {
        position: relative;
        padding-bottom: 56.23%;
        /* Use 75% for 4:3 videos */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
    }
    
    .youtube-player iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }
    
    .youtube-player img {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
        -webkit-transition: .4s all;
        -moz-transition: .4s all;
        transition: .4s all;
    }
    .youtube-player .youtube-play {
    	color:white;
    }
    .youtube-player:hover .youtube-play {
    	color:red;
    }
    
    .youtube-play {
        height: 72px;
        width: 72px;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        cursor: pointer;
        font-size:50px;
    }
.boost_btn {
	color: #219C33;
	background:white;
}
.boost_btn:hover {
	color: #00C71E;
}
.boosted {
	display:inline-block;
	padding:1px 3px;
	background:#28C940;
	color:white;
}


.img_pre {
	width:100px;
	height:100px;
	margin: 0 5px 5px 0;
	overflow:hidden;
	display:inline-block;
}
.img_pre img {
	height:80px;
}
.img_pre a {
	display: block;
}
.form_message {
	margin-bottom:5px;
}
.spanstatus {
	text-align: center;
}
.att_btn {
	display: inline-block;
	padding: 5px 8px;
	color: #647D91;
	border-radius: 3px;
}
.att_btn:hover{
	background: #eee;
}
.att_btn_on {
	background: #eee;
}
.checkin_info {
	color: #6CBF5C;
	font-size:0.9em;
}
.comment_img img{
	max-width: 50%;
	max-height: 200px;
	width:auto;
	height: auto;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    text-align:center;
}

.jcow_story_video{
	width:280px;
	height:240px;
	margin:5px;
	float:left;
	overflow:hidden;
	}
a.jcow_story_video_shot{
	display:block;
	width:290px;
	height:170px;
	text-align:center;
	border: #eeeeee 1px solid;
	overflow:hidden;
	float:left;
	margin-right:5px;
	}

.jcow_video_title {
	overflow:hidden !important;
    text-overflow: ellipsis;
    font-weight:bold;
    margin-top:5px;
	}
.jcow_video_user {

}
#video_parts {
	background:white;
	border-radius: 7px;
	padding:3px;
	margin-bottom:10px;
}
#video_parts a{
	display:inline-block;
	padding:3px 7px;
	margin:0 5px;
	color:#666666;
	border-radius: 5px;
	border: #cccccc 1px solid;
	text-decoration: none;
	background:#eeeeee;
}
#video_parts a:hover{
	background:white;
}
#video_parts a.tm_on{
	font-weight:bold;
	color:#DD4B39;
	background:white;
}
.set_default_btns {
	text-align: right;
	padding-bottom: 5px;
}
.set_default_btns span {
	display:inline-block;
	border:#878787 1px solid;
	border-right: #666 1px solid;
}
.set_default_btns span.sd_on {
	font-weight: bold;
	padding: 0 10px;
	border-width: 1px 1px 0 1px;
}
.set_default_btns span a {
	background: white;
	color:#333;
	display:inline-block;
	padding:0 10px;
}
.set_default_btns span a:hover {
	background: #eee;
}
.set_default_btns label {
	display:inline-block;
	margin:0;
	padding: 0 10px;
	color:#999;
	border-bottom: #878787 1px solid;
}
#jcow_header {
	max-width:1080px;
	overflow: hidden;
	margin: 0 auto;
	text-align: left;
}
#jcow_header_logo {
	float:left;
	min-width:180px;
}
#jcow_header_banner {
	text-align: right;
}
.fixed {
	position: fixed;
	top:0;
}




