body {
	background-color: #E6EAEB;
}
a{
	color:#666;
}
a:hover {
	text-decoration: none;
	color:#333;
}
#topbar a, #topbar a:visited {
	color: #333333;
	}
blockquote {
	font-size:12px;
}

.block_title {
	border-radius:5px;
	font-size:1.2em;
	color: #666666;
}
#appright {
	border-left: #BEDEED 1px solid;
	}
	
#jcow_main_box {
	border-radius:0 0 5px 5px;
	}

#jcow_application_box {
	background: white;
	}
#jcow_top_logo {
	vertical-align: middle;
}
#jcow_sec_menu {
	display:inline-block;
	padding: 5px;
	vertical-align: middle;
}
#show_jcow_app_menu{
	color: white;
	font-size:20px;
}

#searchbar_btn {
	cursor: pointer;
}

#jcow_primary_menubar_box {
	background: #0099D1;
	}
#jcow_gray_banner {
	width:950px;
	margin:0 auto;
	text-align:left;
	}

.jcow_search_keyword{
	width:250px;
}

#footer_pages {
	background: none;
	border:none;
	}
#jcow_top_menu {
	height:30px;
}
#jcow_primary_dropdown {
	height:30px;
}
#jcow_top_menu ul {list-style:inside none; padding:0; margin:0;}
#jcow_top_menu li {list-style:inside none; padding:0; margin:0;display:inline-block} 
#jcow_top_menu > ul > li > a {
	text-shadow:0 -1px rgba(0, 0, 0, 0.5);
	display:inline-block;
	color:white;
	padding:2px 9px;
	text-decoration: none;
	border-radius:3px;
	color:white;
}

#jcow_top_menu > ul > li > a:hover {
	background: #006B91;
}
#jcow_top_menu > ul > li > a.menuon:before {
	content:"";
    display:inline-block;
    position:absolute;
    border:7px solid white;
    border-color:transparent transparent #EAEAEA transparent;
    top:29px;
    margin-left:10px;
}
#jcow_user_panel>a, .top_dropdown_btn,.top_dropdown_btn:hover {
	text-shadow:0 -1px rgba(0,0,0, 0.5);
	color:#eee;
	}
#jcow_user_panel > span > a {
	color:white;
	}

#jcow_primary_menu {
	display:inline-block;
	margin: 0 auto;
	vertical-align: middle;
	overflow: hidden;
}
#jcow_primary_menu a{
	display:inline-block;
	padding:6px 8px;
	font-size:15px;
	color:#E4EBED;
}
#jcow_primary_menu a.menuon{
	color:white;
	font-weight: bold;
}
#jcow_primary_menu a:hover {
	color:white;
}


#topbar_box{
	
}
#jcow_topbar {
	text-align:center;
}
#tabmenu {
	background:none;
	display:inline-block;
}
#tabmenu a{
	color:#666;
}
#tabmenu a.tm_on{
	color:#666;
	font-weight:bold;
	border-bottom:#0084B4 2px solid;
}
#tabmenu a.tm_ge:hover {
	border-bottom:#0084B4 1px solid;
	}

#jcow_top_searchbox {
	padding-left:15px;
	display:inline-block;
}

.jcow_menu_more_btn {
	padding: 2px 5px;
	background:none;
	border:none;
	color:white;
}

.menu_icon_box {
	width:20px;
	height:20px;
	float:left;
	background: white;
	border-radius:5px;
	margin-right:5px;
	opacity: 0.7;
	}

.followbutton {
    background-color: #D43638;
    background-image: -moz-linear-gradient(center top , #EB5367, #E04751 50%, #DE404A 50%, #D43638);
	border: 1px solid #910101;
    text-shadow: 0 -1px rgba(34, 25, 25, 0.5);
	display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    padding: 0.45em 0.825em;
    text-align: center;
	box-shadow: 0 1px rgba(255, 255, 255, 0.8), 0 1px rgba(255, 255, 255, 0.35) inset;
	border-radius: 4px 4px 4px 4px;
    font-size: 13px;
}
.followbutton,.followbutton:visited {
	color: white;
	}
.followbutton:hover {
	text-decoration:none;
    background-color: #D63E40;
    background-image: -moz-linear-gradient(center top , #EA5D6E, #E3535D 50%, #E04A54 50%, #D63E40);
    border-color: #AD0303;
    text-shadow: 0 -1px rgba(34, 25, 25, 0.3);
}










